<section class="hero-section">
  <div class="containers grid-center">
    <div class="leftGrid">
      <h1 class="primary-header">
        It started with a simple idea: Sell great Merchandise.
      </h1>
      <hr class="horizontal-line" />
    </div>
    <div class="rightGrid">
      <p class="sub-header">
        Everything we do is rooted in that basic concept. It’s what drives us.
        It’s what moves us, motivates us and keeps us excited about every
        decision we make about our products, our services and all that we do in
        the community.
      </p>
    </div>
  </div>
</section>
