<section class="feature-products">
  <div class="secondary-header margin-bottom-lg margin-top-lg">
    Featured Products
  </div>
  <div class="containers gridr grid--3-cols margin-top-xl">
    <!-- PRODUCT 1 -->
    <div class="product">
      <div class="flex-container">
        <img
          src="../../../assets/featuredproducts/Product1.jpeg"
          alt=""
          class="product-image"
        />
        <div class="secondary-header margin-top-md">
          The Final Battle
        </div>
        <div class="primary-header margin-top-md">$14.50</div>
        <button class="viewProductButton margin-top-lg margin-bottom-lg">
          View Product
        </button>
      </div>
    </div>
    <!-- PRODUCT 2 -->
    <div class="product">
      <div class="flex-container">
        <img
          src="../../../assets/featuredproducts/Product7.jpeg"
          alt=""
          class="product-image"
        />
        <div class="secondary-header margin-top-md">Prof. Trelawney</div>
        <div class="primary-header margin-top-md">$14.50</div>
        <button class="viewProductButton margin-top-lg margin-bottom-lg">
          View Product
        </button>
      </div>
    </div>
    <!-- PRODUCT 3 -->
    <div class="product">
      <div class="flex-container">
        <img
          src="../../../assets/featuredproducts/Product8.png"
          alt=""
          class="product-image"
        />
        <div class="secondary-header margin-top-md">Quidditch</div>
        <div class="primary-header margin-top-md">$14.50</div>
        <button class="viewProductButton margin-top-lg margin-bottom-lg">
          View Product
        </button>
      </div>
    </div>
  
  <!-- <div class="containers gridr grid--3-cols margin-top-lg"> -->
    <!-- PRODUCT 4 -->
    <div class="product">
      <div class="flex-container">
        <img
          src="../../../assets/featuredproducts/Product9.png"
          alt=""
          class="product-image"
        />
        <div class="secondary-header margin-top-md">Lion Head Luna</div>
        <div class="primary-header margin-top-md">$16.50</div>
        <button class="viewProductButton margin-top-lg margin-bottom-lg">
          View Product
        </button>
      </div>
    </div>
    <!-- PRODUCT 5 -->
    <div class="product">
      <div class="flex-container">
        <img
          src="../../../assets/featuredproducts/Product12.png"
          alt=""
          class="product-image"
        />
        <div class="secondary-header margin-top-md">Sorting Ceremony</div>
        <div class="primary-header margin-top-md">$14.50</div>
        <button class="viewProductButton margin-top-lg margin-bottom-lg">
          View Product
        </button>
      </div>
    </div>
    <!-- PRODUCT 6 -->
    <div class="product">
      <div class="flex-container">
        <img
          src="../../../assets/featuredproducts/Product11.png"
          alt=""
          class="product-image"
        />
        <div class="secondary-header margin-top-md">Patronus</div>
        <div class="primary-header margin-top-md">$14.50</div>
        <button class="viewProductButton margin-top-lg margin-bottom-lg">
          View Product
        </button>
      </div>
    </div>
  <!-- </div> -->
</div>
</section>
