
<footer class="footer">
    <div class="container grid footer-grid">
      <div class="nav-col">
        <p class="footer-heading">ABOUT</p>
        <ul class="footer-navigation">
          <li><a href="" class="footer-link">Our Story</a></li>
          <li><a href="" class="footer-link">Our Process</a></li>
          <li><a href="" class="footer-link">Our People</a></li>
        </ul>
      </div>
      <div class="nav-col">
        <p class="footer-heading">SHOPS</p>
        <ul class="footer-navigation">
          <li><a href="" class="footer-link">Location</a></li>
        </ul>
      </div>
      <div class="nav-col">
        <p class="footer-heading">RESOURCES</p>
        <ul class="footer-navigation">
          <li><a href="" class="footer-link">Wholesale</a></li>
          <li><a href="" class="footer-link">Classes + Tours</a></li>
          <li><a href="" class="footer-link"> Blog</a></li>
          <li><a href="" class="footer-link">Contact</a></li>
          <li><a href="" class="footer-link">Careers</a></li>
          <li><a href="" class="footer-link">Return Policy</a></li>
          <li><a href="" class="footer-link">FAQs</a></li>
        </ul>
      </div>
      <div class="nav-col">
        <ul class="footer-navigation">
          <div class="flex-horizontal">
            <button class="icon-button"><ion-icon name="logo-instagram" class="icon-lg"></ion-icon></button>
            <button class="icon-button"><ion-icon name="logo-twitter" class="icon-lg"></ion-icon></button>
            <button class="icon-button"><ion-icon name="logo-facebook" class="icon-lg"></ion-icon></button>
          </div>
          <li class="align-middle"><ion-icon name="heart" class="icon-md"></ion-icon> <span class="header-md">Made with love by Milind S</span></li>
        </ul>
      </div>
    </div>
  </footer>
  