<section class="email-subscribe">
    <div class="containers flex-container">
        <div class="primary-header">Never miss out</div>
        <div class="secondary-header">Join our mailing list and stay up-to-date on new products, promotions and all things Pops.</div>
        <!-- <div class="gridr grid--2-cols"> -->
        <div class="spacing">
            <input type="email" placeholder="Email Address" class="email-address"/>
            <button class="join">Join</button>
        </div>
        <!-- </div> -->
    </div>
</section>